{% set niacalendar = __SELF__.getRecord() %}


<table class="table" border="1">
    <tbody>
        <tr>
            <td>Title</td>
            <td>
                {{ niacalendar.title }}
            </td>
        <tr>
        <tr>
            <td>Start Time</td>
            <td>{{ niacalendar.start_time.format('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <td>End Time</td>
            <td>{{ niacalendar.end_time.format('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <td>All Day</td>
            <td>{{ niacalendar.all_day == 1 ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{ niacalendar.categories.implode('name',', ')}}</td>
        </tr>
        <tr>
            <td>Is Active</td>
            <td>{{ niacalendar.is_active == 1 ? 'Yes' : 'No' }}</td>
        </tr>
    </tbody>
</table>